<h1> Showing project </h1>

<label> Title : </label>  <%= @project.project_title %> <br/ >
<label> Project Description : </label> <%= @project.project_description %> <br/ >


<%= link_to "Back to Index", projects_path %>